atomicwrites==1.4.0
attrs==19.3.0
backports.csv==1.0.7
beautifulsoup4==4.9.1
brotlipy==0.7.0
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cheroot==8.3.0
CherryPy==18.6.0
click==7.1.2
colorama==0.4.3
cryptography==2.9.2
decorator==4.2.1
decorators==0.1.1
feedparser==5.2.1
Flask==1.1.1
Flask-SQLAlchemy==2.4.0
future==0.16.0
gunicorn==19.9.0
idna==2.8
importlib-metadata==1.6.0
importlib-resources==1.5.0
itsdangerous==1.1.0
jaraco.classes==3.1.0
jaraco.collections==3.0.0
jaraco.functools==3.0.1
jaraco.text==3.2.0
Jinja2==2.11.2
lxml==4.5.1
MarkupSafe==1.1.1
more-itertools==8.3.0
mysqlclient==1.4.6
nltk==3.4.4
numpy==1.14.2
packaging==20.4
pandas==0.25.0
Pattern==2.6
pdfminer.six==20200517
pluggy==0.13.1
portend==2.6
py==1.8.1
pycparser==2.20
pycryptodome==3.9.7
pyOpenSSL==19.1.0
pyparsing==2.4.7
Pyphen==0.9.5
PySocks==1.7.1
pytest==5.4.2
python-dateutil==2.8.1
python-docx==0.8.10
pytz==2020.1
pywin32==227
requests==2.22.0
scikit-learn==0.19.1
scipy==1.0.0
six==1.15.0
sklearn==0.0
sortedcontainers==2.1.0
soupsieve==2.0.1
SQLAlchemy==1.3.17
tempora==3.0.0
textstat==0.6.2
urllib3==1.25.9
vaderSentiment==3.3.2
wcwidth==0.1.9
Werkzeug==1.0.1
win-inet-pton==1.1.0
wincertstore==0.2
zc.lockfile==2.0
zipp==3.1.0




cloudpickle==1.4.1
cycler==0.10.0
cytoolz==0.10.1
dask==2.15.0
joblib==0.14.1
kiwisolver==1.2.0
networkx==2.4
olefile==0.46
patsy==0.5.1
Pillow==7.1.2
Pint==0.11
plotly==4.6.0
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
PyWavelets==1.1.1
retrying==1.3.3
six==1.14.0
statsmodels==0.11.1
toolz==0.10.0
tornado==6.0.4
wincertstore==0.2