<script type="text/javascript">
  google.charts.load("current", { packages: ["bar"] });
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var effectiveData = google.visualization.arrayToDataTable([
      ["Rating", "Number of votes"],
      ["Strongly disagree", 0],
      ["Disagree", 0],
      ["Neutral", 8],
      ["Agree", 44],
      ["Strongly agree", 88],
    ]);

    var clarityData = google.visualization.arrayToDataTable([
      ["Rating", "Number of votes"],
      ["Strongly disagree", 0],
      ["Disagree", 0],
      ["Neutral", 6],
      ["Agree", 45],
      ["Strongly agree", 89],
    ]);

    var comprehensionData = google.visualization.arrayToDataTable([
      ["Rating", "Number of votes"],
      ["Strongly disagree", 0],
      ["Disagree", 1],
      ["Neutral", 10],
      ["Agree", 33],
      ["Strongly agree", 96],
    ]);

    var questionsData = google.visualization.arrayToDataTable([
      ["Rating", "Number of votes"],
      ["Strongly disagree", 0],
      ["Disagree", 2],
      ["Neutral", 8],
      ["Agree", 48],
      ["Strongly agree", 82],
    ]);

    var availabilityData = google.visualization.arrayToDataTable([
      ["Rating", "Number of votes"],
      ["Strongly disagree", 0],
      ["Disagree", 0],
      ["Neutral", 7],
      ["Agree", 34],
      ["Strongly agree", 99],
    ]);

    var productivityData = google.visualization.arrayToDataTable([
      ["Rating", "Number of votes"],
      ["Strongly disagree", 0],
      ["Disagree", 3],
      ["Neutral", 6],
      ["Agree", 35],
      ["Strongly agree", 96],
    ]);
    var options = {
      chart: {
        title: "Instructor was an effective lecturer",
      },
      fontSize: 25,
      colors: "#6200EE",
      vAxis: {
        title: "Number of votes",
        titleTextStyle: {
          fontSize: 13,
        },
        textStyle: {
          fontSize: 13,
        },
        // gridlines: {
        //   color: "#442C2E",
        // },
      },
      hAxis: {
        // Slanted text not supported yet for Material versions
        // slantedText: true,
        // slantedTextAngle: 45,
        titleTextStyle: {
          fontSize: 13,
        },
        textStyle: {
          fontSize: 13,
        },
      },
      legend: {
        position: "none",
      },
    };

    var chart = new google.charts.Bar(
      document.getElementById("columnchart_material")
    );
    chart.draw(effectiveData, google.charts.Bar.convertOptions(options));

    const select = new mdc.select.MDCSelect(
      document.querySelector(".mdc-select")
    );
    select.listen("MDCSelect:change", () => {
      if (select.value === "effectiveness") {
        options.chart.title = "Instructor was an effective lecturer";
        chart.draw(effectiveData, google.charts.Bar.convertOptions(options));
      }
      if (select.value === "clarity") {
        options.chart.title = "Instructor presented the subject matter clearly";
        chart.draw(clarityData, google.charts.Bar.convertOptions(options));
      }
      if (select.value === "comprehension") {
        options.chart.title =
          "Lectures I attended helped me understand the content";
        chart.draw(
          comprehensionData,
          google.charts.Bar.convertOptions(options)
        );
      }
      if (select.value === "questions") {
        options.chart.title =
          "Instructor answered questions clearly and effectively";
        chart.draw(questionsData, google.charts.Bar.convertOptions(options));
      }
      if (select.value === "availability") {
        options.chart.title = "Instructor was available and helpful";
        chart.draw(availabilityData, google.charts.Bar.convertOptions(options));
      }
      if (select.value === "productivity") {
        options.chart.title =
          "Instructor effectively used time during class periods";
        chart.draw(productivityData, google.charts.Bar.convertOptions(options));
      }
    });
  }
</script>
<h4 class="mdc-typography--headline4">Submission</h4>
<p class="mdc-typography--body1">
Inspiration <br/>
  A media critic inveighs against the bias toward centrism, which inspires us to come up with this project idea. It’s vital to democracy and has performed admirably in the age of Trump. But we also believe in reflection and criticism.The media isn't just biased toward the center. It often confuses the center with views that are actually those of the affluent. . Our code changes that however because our code takes the article published and finds out  how  biased it is. Whether it is  left-leaning(Liberal bias) or right-leaning(Conservative bias).
  <br/><br/>
  What It Does<br/>
  For any news article.Take theURL of that article and put it into the user interface build. Our code will run the algorithm through the corpus .Once the Algorithm completes it’s processing it will give you whether the article is  biased or unbiased.It will also check whether the article is Liberal bias or conservative bias by checking it’s left leaning and right leaning.
  <br/><br/>
  How We Built It<br/>
  We built it by using a bunch of different algorithms including Natural Language Processing (NLP), HTML and Flask.
  <br/><br/>
  
  Challenges We Ran Into<br/>
  We had to combine a few NLP and classification  algorithms which took a lot of time for processing and made us kind of impatient.we need to be  aware of the political perspective of the sources used in a story. Media over-rely on “official” (government, corporate and establishment think tank) sources. So finding a right and correct corpus for this task is very important.
  <br/><br/>
  Accomplishments that we're proud of<br/>
  We are proud that we finished the entire program even though it took a couple of hours we did it.
  <br/><br/>
  
What We Learned<br/>
  We learned that there is a way to help tell everyone that not all news articles are completely unbiased of course some are but most are not.Visual presentation plays a huge role in people believing in fake news content.
  <br/><br/>
 What's Next<br/>
  We are going to participate in more hackathons and make apps that can help people and the world.
  
</p>
