
<div id="block">
  <div class="profile">
  
    <br />
    <br />
    
    </div>
  </div>
  <h1 class="mdc-typography--headline1">COVID Helpers</h1>
  <p class="mdc-typography--body1">
   We are the COVIDHelpers, the brothers Mihir and Dhir Kachroo. We are the ones that built this project. Mihir is a new high school student and an expert in python and machine learning. He owns his own AI company, ALtedata Systems, and loves regularely participating in hackathons. Dhir is a first-time hackathoner. He know html, javascript, css, react, vue.js and python.
  </p>
</div>
